# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/

# Virtual environment folders
env/
venv/
.venv/

# Environment variable files
.env

# System files
.DS_Store

# Editor folders
.vscode/

# Node modules (برای جلوگیری از اضافه شدن node_modules)
node_modules/
