<!DOCTYPE html>
<html lang="fa_IR">
  {% include 'css.html' %}
  <body>
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    {% include 'header.html' %} {% include 'port-login.html' %} {% include
    'menu-area.html' %}
    <section id="single-page-header">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="single-page-header-left">
                <h2>ویژگی</h2>
                <p>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                  استفاده از
                </p>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="single-page-header-right">
                <ol class="breadcrumb">
                  <li><a href="#">خانه</a></li>
                  <li class="active">ویژگی</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="feature">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-area">
              <h2 class="title">ویژگی ها</h2>
              <span class="line"></span>
              <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                در ستون
              </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="feature-content">
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="single-feature wow zoomIn">
                    <i class="fa fa-leaf feature-icon"></i>
                    <h4 class="feat-title">طراحی خلاقانه</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                      شرایط فعلی تکنولوژی مورد نیاز.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-feature wow zoomIn">
                    <i class="fa fa-mobile feature-icon"></i>
                    <h4 class="feat-title">طرح واکنش گرا</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                      شرایط فعلی تکنولوژی مورد نیاز.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-feature wow zoomIn">
                    <i class="fa fa-thumbs-o-up feature-icon"></i>
                    <h4 class="feat-title">ویژگی های عالی</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                      شرایط فعلی تکنولوژی مورد نیاز.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-feature wow zoomIn">
                    <i class="fa fa-gears feature-icon"></i>
                    <h4 class="feat-title">تنظیمات چندگانه</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                      شرایط فعلی تکنولوژی مورد نیاز.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-feature wow zoomIn">
                    <i class="fa fa-code feature-icon"></i>
                    <h4 class="feat-title">کدنویسی استاندارد</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                      شرایط فعلی تکنولوژی مورد نیاز.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-feature wow zoomIn">
                    <i class="fa fa-smile-o feature-icon"></i>
                    <h4 class="feat-title">پشتیبانی همه جانبه</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                      شرایط فعلی تکنولوژی مورد نیاز.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-feature wow zoomIn">
                    <i class="fa fa-leaf feature-icon"></i>
                    <h4 class="feat-title">طراحی خلاقانه</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                      شرایط فعلی تکنولوژی مورد نیاز.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-feature wow zoomIn">
                    <i class="fa fa-mobile feature-icon"></i>
                    <h4 class="feat-title">طرح واکنش گرا</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                      شرایط فعلی تکنولوژی مورد نیاز.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-feature wow zoomIn">
                    <i class="fa fa-thumbs-o-up feature-icon"></i>
                    <h4 class="feat-title">ویژگی های عالی</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                      شرایط فعلی تکنولوژی مورد نیاز.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'subscribe.html' %} {% include 'footer.html' %} {% include
    'script.html' %}
  </body>
</html>
