<header id="header">
  <div class="header-top">
    <div class="container">
      <form action="">
        <div id="search">
          <input
            type="text"
            placeholder="کلمه مورد نظر را نوشته و اینتر را بزنید..."
            name="s"
            id="m_search"
            style="display: inline-block"
          />
          <button type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="header-contact">
            <ul>
              <li>
                <div class="phone">
                  <i class="fa fa-phone"></i>
                  +989367579417
                </div>
              </li>
              <li>
                <div class="mail">
                  <i class="fa fa-envelope"></i>
                  armanhassanzadeh04@gmail.com
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="header-login">
            <a
              class="login modal-form"
              href="/panel"
              >پنل کاربری</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
