  <section id="menu-area">      
    <nav class="navbar navbar-default" role="navigation">  
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">تغییر وضعیت</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">شرکت قائم نیرو گستر</a>              
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
            <li class="active"><a href="/">خانه</a></li>
            <li><a href="/feature">ویژگی</a></li>
            <li><a href="/services">خدمات</a></li>
            <li><a href="/portfolio">نمونه کارها</a></li>
            <li><a href="/blog">بلاگ</a></li>         
            <li><a href="/contact">تماس</a></li>
          </ul>                     
        <a href="#" id="search-icon">
          <i class="fa fa-search">            
          </i>
        </a>
      </div>     
    </nav>
  </section>