<!DOCTYPE html>
<html lang="fa_IR">
  {% include 'css.html' %}
  <body>
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    {% include 'header.html' %} {% include 'port-login.html' %} {% include
    'menu-area.html' %}
    <section id="single-page-header">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="single-page-header-left">
                <h2>نمونه کارها</h2>
                <p>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                  استفاده از
                </p>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="single-page-header-right">
                <ol class="breadcrumb">
                  <li><a href="#">خانه</a></li>
                  <li class="active">نمونه کارها</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="portfolio">
      <div class="portfolio-area">
        <div class="portfolio-menu">
          <ul>
            <li class="filter" data-filter="all">همه</li>
            <li class="filter" data-filter=".branding">برندها</li>
            <li class="filter" data-filter=".design">طراحی</li>
            <li class="filter" data-filter=".development">توسعه ها</li>
            <li class="filter" data-filter=".photography">عکاسی ها</li>
          </ul>
        </div>
        <div id="mixit-container" class="portfolio-container">
          <div class="single-portfolio mix branding">
            <div class="single-item">
              <img src="../static/assets/images/portfolio/portfolio-1.jpg" alt="img" />
              <div class="single-item-content">
                <a
                  class="fancybox view-icon"
                  data-fancybox-group="gallery"
                  href="../static/assets/images/portfolio/portfolio-big-1.jpg"
                  ><i class="bi bi-plus-circle"></i></a>
                <div class="portfolio-title">
                  <h4>نرم افزار موبایل</h4>
                  <span>طراحی واسط گرافیکی</span>
                </div>
              </div>
            </div>
          </div>
          <div class="single-portfolio mix design">
            <div class="single-item">
              <img src="../static/assets/images/portfolio/portfolio-2.jpg" alt="img" />
              <div class="single-item-content">
                <a
                  class="fancybox view-icon"
                  data-fancybox-group="gallery"
                  href="../static/assets/images/portfolio/portfolio-big-2.jpg"
                  ><i class="bi bi-plus-circle"></i></a>
                <div class="portfolio-title">
                  <h4>نرم افزار موبایل</h4>
                  <span>طراحی واسط گرافیکی</span>
                </div>
              </div>
            </div>
          </div>
          <div class="single-portfolio mix development">
            <div class="single-item">
              <img src="../static/assets/images/portfolio/portfolio-3.jpg" alt="img" />
              <div class="single-item-content">
                <a
                  class="fancybox view-icon"
                  data-fancybox-group="gallery"
                  href="../static/assets/images/portfolio/portfolio-big-3.jpg"
                  ><i class="bi bi-plus-circle"></i></a>
                <div class="portfolio-title">
                  <h4>نرم افزار موبایل</h4>
                  <span>طراحی واسط گرافیکی</span>
                </div>
              </div>
            </div>
          </div>
          <div class="single-portfolio mix photography">
            <div class="single-item">
              <img src="../static/assets/images/portfolio/portfolio-4.jpg" alt="img" />
              <div class="single-item-content">
                <a
                  class="fancybox view-icon"
                  data-fancybox-group="gallery"
                  href="../static/assets/images/portfolio/portfolio-big-4.jpg"
                  ><i class="bi bi-plus-circle"></i></a>
                <div class="portfolio-title">
                  <h4>نرم افزار موبایل</h4>
                  <span>طراحی واسط گرافیکی</span>
                </div>
              </div>
            </div>
          </div>
          <div class="single-portfolio mix branding">
            <div class="single-item">
              <img src="../static/assets/images/portfolio/portfolio-5.jpg" alt="img" />
              <div class="single-item-content">
                <a
                  class="fancybox view-icon"
                  data-fancybox-group="gallery"
                  href="../static/assets/images/portfolio/portfolio-big-5.jpg"
                  ><i class="bi bi-plus-circle"></i></a>
                <div class="portfolio-title">
                  <h4>نرم افزار موبایل</h4>
                  <span>طراحی واسط گرافیکی</span>
                </div>
              </div>
            </div>
          </div>
          <div class="single-portfolio mix design">
            <div class="single-item">
              <img src="../static/assets/images/portfolio/portfolio-1.jpg" alt="img" />
              <div class="single-item-content">
                <a
                  class="fancybox view-icon"
                  data-fancybox-group="gallery"
                  href="../static/assets/images/portfolio/portfolio-big-1.jpg"
                  ><i class="bi bi-plus-circle"></i>/a>
                <div class="portfolio-title">
                  <h4>نرم افزار موبایل</h4>
                  <span>طراحی واسط گرافیکی</span>
                </div>
              </div>
            </div>
          </div>
          <div class="single-portfolio mix branding">
            <div class="single-item">
              <img src="../static/assets/images/portfolio/portfolio-2.jpg" alt="img" />
              <div class="single-item-content">
                <a
                  class="fancybox view-icon"
                  data-fancybox-group="gallery"
                  href="../static/assets/images/portfolio/portfolio-big-2.jpg"
                  ><i class="bi bi-plus-circle"></i></a>
                <div class="portfolio-title">
                  <h4>نرم افزار موبایل</h4>
                  <span>طراحی واسط گرافیکی</span>
                </div>
              </div>
            </div>
          </div>
          <div class="single-portfolio mix photography">
            <div class="single-item">
              <img src="../static/assets/images/portfolio/portfolio-3.jpg" alt="img" />
              <div class="single-item-content">
                <a
                  class="fancybox view-icon"
                  data-fancybox-group="gallery"
                  href="../static/assets/images/portfolio/portfolio-big-3.jpg"
                  ><i class="bi bi-plus-circle"></i></a>
                <div class="portfolio-title">
                  <h4>نرم افزار موبایل</h4>
                  <span>طراحی واسط گرافیکی</span>
                </div>
              </div>
            </div>
          </div>
          <div class="single-portfolio mix branding">
            <div class="single-item">
              <img src="../static/assets/images/portfolio/portfolio-1.jpg" alt="img" />
              <div class="single-item-content">
                <a
                  class="fancybox view-icon"
                  data-fancybox-group="gallery"
                  href="../static/assets/images/portfolio/portfolio-big-1.jpg"
                  ><i class="bi bi-plus-circle"></i></a>
                <div class="portfolio-title">
                  <h4>نرم افزار موبایل</h4>
                  <span>طراحی واسط گرافیکی</span>
                </div>
              </div>
            </div>
          </div>
          <div class="single-portfolio mix design">
            <div class="single-item">
              <img src="../static/assets/images/portfolio/portfolio-2.jpg" alt="img" />
              <div class="single-item-content">
                <a
                  class="fancybox view-icon"
                  data-fancybox-group="gallery"
                  href="../static/assets/images/portfolio/portfolio-big-2.jpg"
                  ><i class="bi bi-plus-circle"></i></a>
                <div class="portfolio-title">
                  <h4>نرم افزار موبایل</h4>
                  <span>طراحی واسط گرافیکی</span>
                </div>
              </div>
            </div>
          </div>
          <div class="single-portfolio mix development">
            <div class="single-item">
              <img src="../static/assets/images/portfolio/portfolio-3.jpg" alt="img" />
              <div class="single-item-content">
                <a
                  class="fancybox view-icon"
                  data-fancybox-group="gallery"
                  href="../static/assets/images/portfolio/portfolio-big-3.jpg"
                  ><i class="bi bi-plus-circle"></i></a>
                <div class="portfolio-title">
                  <h4>نرم افزار موبایل</h4>
                  <span>طراحی واسط گرافیکی</span>
                </div>
              </div>
            </div>
          </div>
          <div class="single-portfolio mix photography">
            <div class="single-item">
              <img src="../static/assets/images/portfolio/portfolio-4.jpg" alt="img" />
              <div class="single-item-content">
                <a
                  class="fancybox view-icon"
                  data-fancybox-group="gallery"
                  href="../static/assets/images/portfolio/portfolio-big-4.jpg"
                  ><i class="bi bi-plus-circle"></i></a>
                <div class="portfolio-title">
                  <h4>نرم افزار موبایل</h4>
                  <span>طراحی واسط گرافیکی</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'subscribe.html' %} {% include 'footer.html' %} {% include
    'script.html' %}
  </body>
</html>
