<!DOCTYPE html>
<html lang="fa_IR">
  {% include 'css.html' %}
  <link rel="canonical" href="http://www.20script.com" />
  <body>
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    {% include 'header.html' %} {% include 'port-login.html' %} {% include
    'menu-area.html' %}
    <section id="single-page-header">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="single-page-header-left">
                <h2>خدمات</h2>
                <p>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                  استفاده از
                </p>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="single-page-header-right">
                <ol class="breadcrumb">
                  <li><a href="#">خانه</a></li>
                  <li class="active">خدمات</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="service">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-area">
              <h2 class="title">خدمات ما</h2>
              <span class="line"></span>
              <p>
                با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                لازم است و برای شرایط فعلی
              </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="service-content">
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="single-service wow zoomIn">
                    <i class="fa fa-desktop service-icon"></i>
                    <h4 class="service-title">توسعه دهنده وب</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنام.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-service wow zoomIn">
                    <i class="fa fa-paw service-icon"></i>
                    <h4 class="service-title">طراحی دیجیتال</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنام.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-service wow zoomIn">
                    <i class="fa fa-magic service-icon"></i>
                    <h4 class="service-title">فروشگاه</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنام.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-service wow zoomIn">
                    <i class="fa fa-shopping-cart service-icon"></i>
                    <h4 class="service-title">تجارت الکترونیکی</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنام.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-service wow zoomIn">
                    <i class="fa fa-mobile service-icon"></i>
                    <h4 class="service-title">توسعه دهنده نرم افزار</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنام.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-service wow zoomIn">
                    <i class="fa fa-rocket service-icon"></i>
                    <h4 class="service-title">سئو</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنام.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-service wow zoomIn">
                    <i class="fa fa-desktop service-icon"></i>
                    <h4 class="service-title">توسعه دهنده وب</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنام.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-service wow zoomIn">
                    <i class="fa fa-paw service-icon"></i>
                    <h4 class="service-title">طراحی دیجیتال</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنام.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-service wow zoomIn">
                    <i class="fa fa-magic service-icon"></i>
                    <h4 class="service-title">فروشگاه</h4>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنام.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'subscribe.html' %} {% include 'footer.html' %} {% include
    'script.html' %}
  </body>
</html>
